# Airbyte Cloud API

AIRBYTE_MONGO_MD_CONN_ID=c13cf517-7f13-43b7-96db-5b7829583fea

# MotherDuck / dbt
MOTHERDUCK_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImFsZWphbmRyby5vcnRpejEyOTJAZ21haWwuY29tIiwibWRSZWdpb24iOiJhd3MtdXMtZWFzdC0xIiwic2Vzc2lvbiI6ImFsZWphbmRyby5vcnRpejEyOTIuZ21haWwuY29tIiwicGF0IjoidUc2SE5rckstSHVMLWpGZ1lXMnlHeG9UUndDYTdYRXRzREtWVHRidFUwZyIsInVzZXJJZCI6IjQyZGZhYmQ2LWYyZmUtNGRkMC05NjhiLTExNWRiZDRjODJkZCIsImlzcyI6Im1kX3BhdCIsInJlYWRPbmx5IjpmYWxzZSwidG9rZW5UeXBlIjoicmVhZF93cml0ZSIsImlhdCI6MTc3Mjk4Mzk0N30.Sb_GaEWziDdC8JZnwRO9JrH3o65C3u2U2a0msEAUV60
MOTHERDUCK_DATABASE=intdt

# Metabase
METABASE_URL=http://metabase:3000
METABASE_SESSION_TOKEN=your_metabase_session_token_here
METABASE_DASHBOARD_ID=1

# Prefect
PREFECT_API_URL=http://prefect-server:4200/api
